@charset "UTF-8";
@mixin flex($direction:column,$inline:block) {
  display: if($inline==block,flex,inline-flex);
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin list($direction:column) {
  @include flex($direction);
}
@mixin panel($bgcolor:#f4f4f4, $padding:0, $margin:20px 0, $height:100px, $txtPadding:0 32px, $color:#202020, $fontSize:32px) {
  background: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4 {
    height: $height;
    line-height: $height;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: $color;
    font-size: $fontSize;
    position: relative;
    i {
      position: absolute;
      right: 5%;
      top: 50%;
      font-size: 36px; /*px*/
      color: #8c8c8c;
      transform: translateY(-50%);
    }
  }
}
