/*! Global*/
$global-font-family: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;


/*! navSlidebar*/
$navSlidebar-bg: rgba(255, 255, 255, 1);
$ns-l-color: rgba(0, 0, 0, 1);
$ns-l-des-color: #686868;


/*! header*/
$header-bg: #61bf81;
$h-nav-bg: #ffffff;
$h-cr-color: #ffffff;
$h-input-color: #55a872;

/*! three-col*/
$l-color: #000000;
