@charset "UTF-8";
/*
  公共左滑动画样式
 */
.l-enter,
.l-leave-to {
  transform: translateX(100%);
}

.l-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.l-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.b-enter,
.b-leave-to {
  transform: translateY(100%);
}

.b-enter-active {
  transition: transform .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.b-leave-active {
  transition: transform .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

/*auxiliary*/
.auxiliary-fade-enter-active {
  animation: fadeIn 0.3s;
  .auxiliary-content {
    animation: slideIn 0.3s;
  }
}

.auxiliary-fade-leave-active {
  animation: fadeOut 0.3s;
  .auxiliary-content {
    animation: slideOut 0.3s;
  }
}

/*playlist*/
.playlist-fadeIn-enter-active {
  animation: fadeIn 0.3s;
  .playlist-content {
    animation: slideIn 0.3s;
  }
}

.playlist-fadeIn-leave-active {
  animation: fadeOut 0.3s;
  .playlist-content {
    animation: slideOut 0.3s;
  }
}

/*消息提醒 message*/
.message-enter,
.message-leave-to {
  transform: translateY(-100%);
}

.message-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.message-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

/*share*/
.share-fade-enter-active {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/*
播放器
 */
.normal-enter-active,.normal-leave-active {
   transition: all 0.4s;
   .top, .bottom {
     transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
   }
}
.normal-enter,.normal-leave-to {
   opacity: 0;
   .top {
     transform: translate3d(0, -100px, 0);
   }
   .bottom {
     transform: translate3d(0, 100px, 0);
   }
}

.mini-enter-active, .mini-leave-active {
  transition: all 0.4s
}
.mini-enter, .mini-leave-to {
  opacity: 0
}

.play {
  animation: rotate 30s linear infinite;
}

.pause {
  animation-play-state: paused
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.playlist-enter,
.playlist-leave-to {
  transform: translateY(100%);
}

.playlist-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.playlist-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.bottomFadeIn-enter,.bottomFadeIn-leave-to {
  transform: translateY(100%);
}

.bottomFadeIn-enter-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.bottomFadeIn-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
