@import "../layout/layout.scss";

@mixin btn($size:14px, $color:#fff, $bgcolor:#F04752, $padding:5px, $radius:5px) {
  padding: $padding;
  background-color: $bgcolor;
  border-radius: $radius;
  border: 1px solid $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
}



.btn {
  @include px2rem(height, 48px);
  @include px2rem(width, 138px);
  box-sizing: border-box;
  border-color: #fff;
  @include px2rem(border-width, 2px);
  border-style: solid;
  @include px2rem(border-radius, 20px);
  font-size: 22px; /*px*/
  color: #fff;
  @include px2rem(line-height, 48px);
  text-align: center;
}

.btn2 {
  @include px2rem(width, 260px);
  @include px2rem(height, 52px);
  font-size: 32px; /*px*/
  @include px2rem(border-width, 2px);
  @include px2rem(border-radius, 6px);
  border-style: solid;
  border-color: #71ca9a;
  display: flex;
  color:  #71ca9a;
  justify-content: center;
  align-items: center;
}

.btn3 {
  width: 100%;
  @include px2rem(height, 70px);
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /*px*/
}

.btn4 {
  @include px2rem(width, 290px);
  @include px2rem(height, 72px);
  background: #61bf81;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px; /*px*/
  @include px2rem(border-radius, 150px);
  i {
    font-size: 32px; /*px*/
    color: #fff;
  }
}

.icon1 {
  @include px2rem(width, 52px);
  @include px2rem(height, 24px);
  font-size: 8px; /*px*/
  display: inline-flex;
  box-sizing: border-box;
  @include px2rem(border-width, 1px);
  @include px2rem(border-radius, 6px);
  border-style: solid;
  border-color: #71ca9a;
  color:  #71ca9a;
  justify-content: center;
  align-items: center;
}

.icon2 {
  @include px2rem(width, 40px);
  @include px2rem(height, 28px);
  box-sizing: border-box;
  font-size: 12px; /*px*/
  color: #a9a9a9;
  @include px2rem(border-width, 2px);
  @include px2rem(border-radius, 6px);
  border-style: solid;
  border-color: #a9a9a9;
}
